<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - JS 之禅</title>
    <meta name="keywords" content="javascript之禅, javascript, react, angular, nodejs, front-end, frameworks" />
    <meta name="description" content="起于JS而不止于JS">
    <meta name="author" content="Liu Xing">
    <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    {% include "views/components/notification.html" %}
    {% block body %}
    <div>No body</div>
    {% endblock %}
    {# include "./components/footer.html" #}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function(){
            if ($('.notifications')) {
                setTimeout(function(){
                    $('.notifications').fadeOut()
                }, 2000)
            }
        })
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>
